@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --White: #ffffff;
    --Black: #10111a;
}

* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    background-color: var(--Black);
    margin: 0px;
}

.navbar {
    background-color: var(--White);
    list-style: none;
    display: flex;
    margin: 0px;
}

.navbar li{
    margin: 14px 0px 14px 0px;
}

.navbar a {
    text-decoration: none;
    color: var(--Black);
    padding: 14px 16px;
}

.navbar a:hover {
    color: var(--White);
    background-color: var(--Black);
    transition-timing-function: linear;
    transition-duration: 100ms;
}

#selected{
    color: var(--White);
    background-color: var(--Black);
}

main {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    min-height: 80vh;
    margin: 3%;
} 

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    margin: 3%;
}

.centerside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 80vh;
    margin-inline: 100px;
}

.centerside img {
    opacity: 50%;   
}

.centerside img:hover {
    cursor: pointer;
    opacity: 100%;
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.centerside img:active {
    opacity: 50%;
}

.centerside a{
    margin-inline: 100px;
}

.lateral {
    display: flex;
}

.lateral img {
    width: 350px;
    height: 900px;
    object-fit: cover;
    object-position: 0% 0%;
}

main h1 {
    color: var(--White);
    text-align: center;
    font-size: 10vh;
    margin: 5px;
    font-weight: 500;
}

main h2 {
    color: var(--White);
    text-align: center;
    font-size: 3vh;
    margin: 5px;
    font-weight: 100;
}

main h3 {
    color: var(--White);
    text-align: left;
    font-size: 10vh;
    margin: 5px;
    font-weight: 800;
}

main h4 {
    color: var(--White);
    text-align: left;
    font-size: 3vh;
    margin: 5px;
    font-weight: 300;
}

main h7 {
    font-size: 150px;
    color: white;
}


Textos {
    display: flex;
    flex-direction: column;
}

main a {
    text-decoration: none;
    border-style: none;
}

.buttons {
    display: flex;
}

.buttons a {
    padding: 0%;
    margin: 0px;
    border-radius: 0px;
}

.contact {
    color: var(--White);
    border-color: var(--White);
}

.contact:hover {
    color: var(--Black);
    background-color: var(--White);
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.products {
    border-color: var(--Dark-Green);
    background-color: var(--Dark-Green);
    color: var(--White);
}

.products:hover {
    background-color: var(--White);
    color: var(--Dark-Green);
    border-color: var(--White);
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.words span {
    color: #10111A;
}

.words span :hover {
    color: white;
    transition-timing-function: linear;
    transition-duration: 100ms;
}

img.img1{
    max-width: 100%;
    max-height: 100%;
    height: 40px;
    width: 40px;
    margin-top: 4px;
    margin-right: 10px;
}